apiVersion: 1

datasources:
  - name: prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
  - name: prometheus-federation
    type: prometheus
    access: proxy
    url: http://prometheus-federation:9090
  - name: VictoriaMetrics
    type: victoriametrics-metrics-datasource
    access: proxy
    url: http://victoria:8428
    jsonData:
      httpMethod: GET